.campus {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}

.gallery {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery img {
  width: 23%;
  border-radius: 10px;
}


/* media query */
@media (max-width:650px){
  .gallery {
   
   flex-direction: column;
}

.gallery img {
  width: 90%;
  margin: 20px;
}
}
